/* Color Libraty
Background color: #005700
menu bar color: #95BE22 */


body {
	background-color:#005700;
}

footer {
	background-color: #95BE22;
	width:81%;	
	text-align:center; 
	font-weight:bold; 
	margin:0 auto; 
	padding-bottom:15px;
	padding-top:15px;
}

h1 {
	text-align:center;
	background-color: #95BE22; 
	width:81%;	
	font-size: 3.5em; 
	font-weight:bold; 
	margin:0 auto; 
}
h2 {
	text-align:center;	
	font-size: 2em; 
	font-weight:bold; 
}
h5 {
	text-align:center;	
}




#menu { 
	text-align:center;
	list-style-type:none; 
	background-color: #95BE22; 
	font-weight:bold; 
	width:80%;
	overflow:hidden;
	margin:0 auto; 
	font-size: 20;
	padding:10px; 
}
	
#resume{
	width:80%; 
	margin:0 auto; 
	padding:20px; 
	text-align:left; 
}